* {
  margin: 0.5rem;
  padding: 0;
}

html {
  font-size: 1 rem;
  height: 100px;
}

body,
header,
menu,
footer {
  border: 3px red solid;
  min-width: 400px;
  min-height: 50px;
}

header {
  background-color: rgb(218, 192, 243);
  margin-top: 10px;
  border-style: double;
  border-color: black;
}

h1 {
  text-align: center;
}

menu {
  min-height: 200px;
  background-color: bisque;
  border-style: double;
  border-color: brown;
  overflow: auto;
}

menu > div {
  max-height: 50%;
  float: left;
  width: 65%;
  float: left;
}

menu > aside {
  background-color: blueviolet;
  border-style: double;
  border-color: black;
  max-height: 25%;
  float: left;
}

footer {
  background-color: rgb(143, 182, 143);
  border-style: double;
  border-color: blue;
}

.redes {
  text-align: center;
}
.derechos {
  text-align: right;
}

body {
  /*background-image: url(https://previews.123rf.com/images/vitalily73/vitalily731706/vitalily73170600006/80059796-vegetales-frescos-fondo-colorido-de-los-veh%C3%ADculos-vegetales-saludables-surtido-de-verduras.jpg);*/
  background-color: beige;
  opacity: 75%;
}

.img {
  max-height: 500px;
  max-width: 1.5 rem;
  flex: content;
}

.imagen {
  border-radius: 1.5rem;
  border-color: black;
  border-style: solid;
  max-width: 600px;
}

/* .video {
  display: flexbox;
  max-height: 100px;
  max-width: 1.5 rem;
} */

/* header */
.headerNav {
  color: black;
  border-style: solid;
  border-radius: 5px;
  background-color: rgb(112, 165, 179);
  /*text-align: right;*/
  display: inline-block;
  margin-bottom: 65px;
  position: absolute;
}
.enlaces {
  background-color: rgb(176, 209, 56);
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  color: blue;
}
.imgLogo {
  max-height: 65px;
  margin-top: 1.5rem;
}

.headerLogo {
  max-height: 0.5;
  display: inline-block;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crear 3 columnas de igual ancho */
  grid-gap: 10px; /* Espacio entre elementos */
}

.grid-item {
  background-color: #ddd;
  padding: 20px;
  text-align: center;
}

.imgProductos {
  max-height: 200px;
  max-width: 1.5 rem;
  flex: content;
}
